<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Current Rappers</h1>
    <ul class="rappers">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="rapper">
            <span><%= info[i].stageName %></span>
            <span><%= info[i].birthName %></span>
            <span><%= info[i].likes %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add A Rapper:</h2>

    <form action="/addRapper" method="POST">
        <input type="text" placeholder="Stage Name" name="stageName">
        <input type="text" placeholder="Birth Name" name="birthName">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html> -->


<!DOCTYPE HTML>
<html>
	<head>
		<title>Meme Break</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html"><strong>Meme Break</strong> by DekotaDeCoder</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle">About</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
                        <% for(let i=0; i < info.length; i++) {%>
						<article class="thumb">
                            <span style ="display: none"><%= info[i].memeId %></span>
                            <span style ="display: none"><%= `${info[i].likes}` %></span>
							<div class="image addLikeButton"><img src="<%= info[i].memeId %>" alt="" /></div>
							<h2><a><%= `Likes: ${info[i].likes}` %></a></h2>
						</article>
                        <% } %>
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>Meme Break</h2>
									<p>A nice collection of 100Devs memes made by the community for the community!</p>
								</section>
								<section>
									<h2>Follow me on ...</h2>
									<ul class="icons">
										<li><a href="https://twitter.com/DekotaDeCoder" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://github.com/DekotaNelson/meme-break" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="https://www.linkedin.com/in/dekotanelson/" target="_blank" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
								<p class="copyright">
									&copy; 100Devs Meme Break. By <a href="https://twitter.com/DekotaDeCoder" target="_blank">DekotaDeCoder</a>.
								</p>
							</div>
							<div>
								<section>
									<img class="dekotaDeCoderImg" src="images/fulls/DekotaDeCoder.jpg" alt="DekotaDeCoder as Eevee coding on a laptop">
								</section>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>